@import "../global.scss";

.stats {
  display: grid;
  font-size: $font-size_sm;
  align-self: center;

  &_error {
    color: $color-danger;
  }

  &_loading {
    color: $color_brand_gray-0;
  }

  &__count {
    font-weight: bold;
  }
}
