@import "../global.scss";

.select-view-btn {
  &__icon {
    @include default-icon;

    width: 2.4em;
    height: 2.4rem;
    padding: 0.5rem;

    fill: white;
    border-radius: 5px;

    &:link,
    &:visited,
    &:hover {
      fill: $color_brand_gray-10;
    }

    &:focus,
    &:active {
      fill: $color_brand_gray-20;
    }

    &_active {
      box-shadow: outset 0 0 10px $color_brand_gray-10;
      background-color: $color_gray-dark;
    }
  }
}
