@import "../global.scss";

.ReleaseBox {
  padding: .5em;

  &:hover {
    background-color: $color_brand_gray-50;
    cursor: pointer;
  }


  &__cover {
    width: 100%;
    margin-bottom: .5rem;
  }

  &__artist-name,
  &__release-name {
    font-size: $font-size_sm;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }

  
  &__artist-name {
    font-weight: bold;
    color: $color_white;
  }

  &__release-name {

  }
}