@import "../global.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.85);
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  opacity: 0;
  visibility: hidden;

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 240px;

    padding: 1rem;

    background: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  &__close-btn {
    cursor: pointer;
    font-size: $font-size_lg;

    fill: $color_brand_gray-50;
    border-radius: 5px;

    &:link,
    &:visited,
    &:hover {
      fill: $color_brand_gray-20;
    }

    &:focus,
    &:active {
      fill: $color_brand_gray-50;
    }

    &_active {
      box-shadow: outset 0 0 10px $color_brand_gray-50;
      background-color: darken($color_gray-lightest, 7%);
    }
  }

  &__heading {
    font-weight: bold;
  }

  &__hr {
    display: block;
    height: 1px;
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
    box-sizing: content-box;
    overflow: visible; //  Show the overflow in Edge and IE.

    border: 0;
    border-top: 1px solid lighten($color_brand_gray-0, 20%);
  }

  &__content {
    overflow-y: scroll;
    max-height: 460px;
    padding-right: 0.5rem;
  }

  &_active {
    position: fixed;
    z-index: $zindex-modal;

    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    opacity: 1;
    visibility: visible;
  }
}
