@import "../global.scss";

.track {
  display: grid;
  grid-column-gap: 1rem;

  align-items: center;
  justify-content: flex-start;
  word-wrap: none;
  overflow-x: hidden;
  border-radius: 4px;

  grid-template-columns: auto 3% 13% 0.7fr 20% 0.9fr 5% 5% 4% auto;
  grid-template-areas: "Cover Year Artist TrackTitle Release Genres Bitrate Extension Duration MenuBtn";
  cursor: pointer;

  &:hover {
    background-color: $color_gray_darkest;
    z-index: 100;
  }

  &_state_playing {
    background: rgb(55, 200, 113);
    background: linear-gradient(
      90deg,
      rgba(0, 177, 72, 1) 0%,
      rgba(55, 200, 113, 1) 100%
    );
    color: white;

    &:hover {
      background-color: $color_brand_green;
      color: white;
    }
  }

  &__menu {
    fill: white;
    height: 18px;
    width: 25px;
    padding: 0 5px;
    margin: 0 5px 0 0;

    &:hover {
      cursor: pointer;
      //background-color: $color_gray;
    }
  }

  &__cover {
    grid-area: Cover;
    width: 45px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 0 0 0.8rem;
  }

  &__release {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-decoration: none;
    line-height: 1.2rem;
  }

  &__release-title {
    display: block;
  }

  &__label-info,
  &__cat-no {
    display: inline;
    font-size: 0.75rem;
  }

  &__bitrate {
    display: none;

    @media only screen and (min-width: $screen-xl) {
      display: block;
    }
  }

  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
