@import "../global.scss";

.track {
  display: grid;
  grid-column-gap: 1rem;

  align-items: center;
  justify-content: flex-start;
  word-wrap: none;
  overflow-x: hidden;
  border-radius: 4px;

  grid-template-columns: auto 3% 13% 23% 20% 0.9fr 5% 5% 4%;
  grid-template-areas: "Cover Year Artist TrackTitle Release Genres Bitrate Extension Duration";

  &__cover {
    grid-area: Cover;
    width: 30px;
    border-radius: 4px;
  }

  &__release {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-decoration: none;
    line-height: 1.2rem;
  }

  &__release-title {
    display: block;
  }

  &__label-info,
  &__cat-no {
    display: inline;
    font-size: 0.75rem;
  }

  &__bitrate {
    display: none;
    @media only screen and (min-width: $screen-xl) {
      display: block;
    }
  }

  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
