@import "../global.scss";

.track {
  display: grid;
  grid-column-gap: 1rem;

  align-items: center;
  justify-content: flex-start;
  word-wrap: none;
  overflow-x: hidden;
  border-radius: 4px;

  grid-template-columns: auto 3% 13% 23% 20% 0.9fr 5% 5% 4% auto;
  grid-template-areas: "Cover Year Artist TrackTitle Release Genres Bitrate Extension Duration More";

  &__cover {
    grid-area: Cover;
    width: 45px;
    border-radius: 4px;
  }

  &__artist,
  &__label,
  &__release-title {
    &:link {
      color: $color_link;
      transition: all 0.2s linear;
      text-decoration: none;
    }

    &:visited {
      color: $color_link;
    }

    &:hover {
      color: lighten($color_link, 13%);
      text-decoration: underline;
    }

    &:focus,
    &:active {
      color: lighten($color_link, 13%);
    }
  }

  &__release {
    display: none;
    text-decoration: none;
    line-height: 1.2rem;

    @media only screen and (min-width: $screen-xl) {
      display: block;
    }
  }

  &__release-title {
    display: block;
  }

  &__label,
  &__cat-no {
    display: inline;
    font-size: 0.75rem;
  }

  &__bitrate {
    display: none;
    @media only screen and (min-width: $screen-xl) {
      display: block;
    }
  }

  &__more {
    align-self: center;
    justify-self: flex-end;
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    padding: 3px 16px;

    &:link {
      color: white;
      transition: all 0.2s linear;
      text-decoration: none;
    }

    &:visited {
      color: white;
    }

    &:hover {
      text-decoration: none;
      background-color: $color_brand_gray-40;
    }

    &:focus,
    &:active {
      color: lighten($color_link, 13%);
    }
  }
  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
