@import "../global.scss";

.HamburgerBtn {
  @include default-icon;

  width: 2.4em;
  height: 2.4rem;
  padding: .5rem;

  fill: $color_brand_gray-10;
  border-radius: 10000px;

  &:link,
  &:visited,
  &:hover {
    fill: $color_white;
  }

  &:focus,
  &:active {
    background-color: $color_brand_gray-30;
    fill: $color_white;
  }
}