doctype html
html(lang='en' class='doc-html')

  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1,  viewport-fit=cover, shrink-to-fit=no')
    
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    
    meta(name='description' content='component library/boilerplate for developing websites based on BEM methodology and a mobile-first approach')
    //- Displayed in Google search results:
    meta(name='keywords' content='web development, bem, components, sass, javascript, pug, frontend')
    meta(name='author' content='Andrey Ponomarev')
    title Biscuit Components
      
  body(class='doc-html__body') 
    noscript Your browser doesn't support JavaScript or you have disabled JavaScript.   
    
    div(class="doc-nav") 
      each track in tracks
          div= track.year + " " + track.artist + " - " + track.title