@import "../global.scss";

.navigation {
  grid-area: Navigation;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.pagination {
  list-style: none;
  display: grid;

  &__prev {
    display: inline;

    &::before {
    }
  }

  &__next {
    display: inline;
    &::after {
    }
  }
}
