@import "../global.scss";

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 3.6em 13em 1fr 4.2em;
  grid-template-columns: minmax(150px, 16em) auto 1fr;
  grid-template-areas: 
    "HeaderBar     HeaderBar     HeaderBar"
    "SidebarMenu   YearsFilter   FiltersBar"
    "SidebarMenu   YearsFilter   ReleasesGrid"
    "SidebarMenu   YearsFilter   AudioPlayer";
}