@import "../global.scss";

.FilterBarHeader {
  // border: 1px solid red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 1.2em;

  &_type_year {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    color: $color_brand_gray-20;    
  }

  &__select {
    width: 100%;
  }

  &__option {

  }

  &__sort {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    color: $color_brand_gray-20;
  }
}