@import "../global.scss";

#root {
  height: 100%;
}

.app {
  position: relative;

  width: 100%;
  padding: 1rem 2rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-rows: 4rem 2rem 3rem auto 4rem 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "AppLogo  HeaderBar"
    "Space    Space"
    "Filter   Stats"
    "Filter   CallToAction"
    "Filter   Navigation"
    "Filter   Content";
}
