@import "../global.scss";

.filter {
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;

  &__heading {
    font-weight: bold;
  }

  &__content,
  &__modal {
    display: grid;
    row-gap: 3px;
  }

  &__more-row {
    background-color: transparent;
    outline: none;
    border: none;

    display: flex;
    flex-flow: row nowrap;
    color: $color_link;
    text-decoration: none;
  }
}
