@import "./../global.scss";

.page {
  position: relative;
  top: 0;
  bottom: 0;

  font-size: $font-size_root;

  scroll-behavior: smooth;
  background-attachment: fixed;
  background: linear-gradient(lighten($color_gray_darkest, 5%), black);

  min-height: 100%;

  &__body {
    min-height: 100%;

    font-family: "Open Sans";
    color: $color_text-primary;
    line-height: 1.5;

    background-attachment: fixed;
  }
}
