@import "../global.scss";

@font-face {
  @include font-face__lato-regular;
}
@font-face {
  @include font-face__lato-italic;
}
@font-face {
  @include font-face__lato-bold;
}

.page {
  height: 100%;

  font-size: $font-size_root;

  scroll-behavior: smooth;
  background-attachment: fixed;

  &__body {
    height: 100%;

    font-family: "Open Sans";
    color: $color_text-primary;
    line-height: 1.5;

    background-attachment: fixed;

    &_bg {
      &_solid {
        background-color: white;
      }

      &_gradient {
        background: linear-gradient($color_white, lighten($color_gray, 20%));
        background-repeat: no-repeat;
        // make background fixed; this property is not mandatory:
        background-attachment: fixed;
      }

      &_img {
        // Make background image responsive
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        // Make background fixed; this property is not mandatoy
        background-attachment: fixed;
      }
    }
  }
}
