@import "../global.scss";

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: .5em;

  text-decoration: none;

  outline: none;
  cursor: pointer;
  border-radius: 10000px;
  fill: $color_brand_gray-10;

  &:link,
  &:visited {
    fill: $color_white;
  }

  &:hover {
   fill: $color_white;
  }

  &:focus,
  &:active {
    background-color: $color_brand_gray-30;
    fill: $color_white;
  }

  
  &__img {
    // Paths and strokes that overflow the viewBox can show in IE11.
    overflow: hidden;
    align-self: center;
    // Don't set icon's width, height, and fill here, they're set manually, 
    // in React component, for each icon individually

    background-size: cover;
    
    transition: opacity 0.2s ease;
    border-radius: 10000px;
  }
}
