doctype html
html(lang='en' class='html')

  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1,  viewport-fit=cover, shrink-to-fit=no')
    
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    
    meta(name='description' content='music library manager')
    //- Displayed in Google search results:
    meta(name='keywords' content='music, library, organizer, audio')
    meta(name='author' content='Andrey Ponomarev')
    title Musicbox
      
  body(class='html__body') 
    noscript Your browser doesn't support JavaScript or you have disabled JavaScript.   
     
    div(class="main") #{track}
