@import "../global.scss";

.arrow {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &_right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 10px 2px 10px;
  }

  &_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 10px 2px 10px;
  }
}
