@import "../global.scss";

.Searchbar {
  position: relative;
  border: none;
  // border: 2px solid red;

  & * {
    box-sizing: border-box;
  }

  &__input {
    width: 100%;
    height: calc(1.8rem + 2px);
    padding: 0.5rem 0.5rem;

    color: $color_black;
    font-family: $font-stack_lato;
    font-size: 1rem;
    line-height: 1.5;

    border: $form__border_state_initial;
    background-color: $color_white;
    border-radius: $border_radius;
    transition: 0.2s;

    resize: vertical;

    &::placeholder {
      color: $color_gray;
    }

    &:focus {
      outline: none;
      border: $form__border_state_initial;
      box-shadow: $form__box-shadow_state_initial;
    }

    &_type_search {

      width: 10rem;

      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjkgMTI5Ij4KICA8cGF0aCBkPSJNNTEuNiA5Ni43YzExIDAgMjEtMy45IDI4LjgtMTAuNWwzNSAzNWMuOC44IDEuOCAxLjIgMi45IDEuMnMyLjEtLjQgMi45LTEuMmMxLjYtMS42IDEuNi00LjIgMC01LjhsLTM1LTM1YzYuNS03LjggMTAuNS0xNy45IDEwLjUtMjguOCAwLTI0LjktMjAuMi00NS4xLTQ1LjEtNDUuMS0yNC44IDAtNDUuMSAyMC4zLTQ1LjEgNDUuMSAwIDI0LjkgMjAuMyA0NS4xIDQ1LjEgNDUuMXptMC04MmMyMC40IDAgMzYuOSAxNi42IDM2LjkgMzYuOUM4OC41IDcyIDcyIDg4LjUgNTEuNiA4OC41UzE0LjcgNzEuOSAxNC43IDUxLjZjMC0yMC4zIDE2LjYtMzYuOSAzNi45LTM2Ljl6Ii8+Cjwvc3ZnPgo=");
      background-size: 20px;
      background-position: 0.6rem 0.4rem;
      background-repeat: no-repeat;
      // animate form:
      transition: width 0.4s ease-in-out;

      &:focus {
        width: 100%;
      }
    }
  }
}



