@import "../global.scss";

.pagination {
  list-style: none;
  display: inline-flex;
  align-items: center;

  &__current-page {
    margin-right: 1rem;
  }

  &__prev {
    margin-right: 0.6rem;
  }
}
