@import "../global.scss";

.pagination {
  list-style: none;
  display: inline-flex;
  align-items: center;

  display: grid;
  column-gap: 1rem;
  grid-template-columns: auto auto auto;

  &__btn {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: $color_link;

    &:hover {
      text-decoration: underline;
      color: white;
    }

    &_disabled,
    &_disabled:hover {
      cursor: auto;
      text-decoration: none;
      color: $color_text-primary;
    }
  }
}
