@import "../global.scss";

.main {
  position: relative;

  width: 100%;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-rows: auto 4rem 1fr 4rem;
  grid-template-columns: 190px auto;
  grid-template-areas:
    "Sidebar  Stats"
    "Sidebar  CallToAction"
    "Sidebar  Content"
    "Space    Space";

  &__sidebar {
    grid-area: Sidebar;
  }

  &__stats {
    grid-area: Stats;
  }

  &__call-to-action {
    grid-area: CallToAction;
  }

  &__content {
    grid-area: Content;
  }
}
