@import "../global.scss";

.main {
  position: relative;
  z-index: 0;

  box-sizing: border-box;
  margin: 8rem 0 8rem 15rem;
  grid-area: Content;
  display: block;
  padding: 0 1rem 0 1rem;
  //padding: 0 0 6rem 0;
  border: 0px solid red;
}
