@import "../global.scss";

.CollapsibleMenu {
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .2em;
}