@import "../global.scss";

.SortOptionsBtn {
  @include default-icon;

  width: 2.4em;
  height: 2.4rem;
  padding: .5rem;

  fill: $color_brand_gray-20;
  border-radius: 10000px;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    fill: $color_white;
  }

  &_rotate_up {
    transform: rotate(180deg);
    padding-top: .2rem;
  }
}