@import "../global.scss";

.content-list {
  grid-area: Content;
  overflow-y: auto;
  display: grid;

  width: 100%;

  & > * {
    padding: 0.2rem 0;

    &:not(:first-child):not(:last-child) {
      border-bottom: 1px solid $color_gray_darken;
    }
  }
}
