@import "../global.scss";

.content-list {
  display: grid;
  overflow-y: auto;
  padding: 0 0 0 0.5rem;
  width: 100%;

  &_empty-response {
    text-align: center;
    padding: 1rem 0 1rem 0;
  }

  & > * {
    padding: 0.2rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color_gray_darken;
    }
  }
}
