@import "../global.scss";

.content-list {
  grid-area: Content;
  overflow-y: auto;
  display: grid;
  grid-row-gap: 0.3em;

  width: 100%;
  padding: 0.5rem 0;

  & > *:nth-child(odd) {
    background-color: $color_gray-lightest;
  }
}
