@import "../global.scss";

.grid-layout {
  position: relative;

  display: grid;
  grid-template-areas:
    "NavBar"
    "ContentList";
  grid-template-columns: auto;
  margin: 0;

  &__content-list {
    grid-area: ContentList;
  }

  &__nav-bar {
    grid-area: NavBar;

    position: fixed;
    top: 4rem;
    right: 0;
    left: 15rem;
    z-index: $zindex-fixed;
  }
}
