@import "../global.scss";

.loader {
  left: 50%;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: $border_radius;

  z-index: $zindex-modal;

  &_blink {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}
